<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/f99fd25243.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../CssFolder/moviepagebackground.css">
    <link rel="stylesheet" href="../CssFolder/Cards.css">
    <link rel="stylesheet" href="../CssFolder/search.css">
    <link rel="stylesheet" href="../CssFolder/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&family=Righteous&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">
    <title>Microsoft</title>


</head>

<body class="bg-white">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img
                        src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
                        class="img-fluid" alt="microsoft logo" style="transform: scale(0.7);"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link navlinks" href="/home"><span class="navlinks">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btncat " type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="navlinks">Categories</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/Categories/Hits">Hits</a></li>
                                    <li><a class="dropdown-item" href="/Categories/Romance">Romance</a></li>
                                    <li><a class="dropdown-item" href="/Categories/Energy">Energy</a></li>
                                    <li><a class="dropdown-item" href="/Categories/Party">Party</a></li>
                                    <li><a class="dropdown-item" href="/Categories/Sad">Sad</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                                <a href="/"><button class="btn btn-outline-success" type="submit">Sign Out</button></a>
                            </div>
                        </nav>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div id="background">
        <header>
            <div class="d-flex movie_name justify-content-between">
                <p class="fs-1 moviesname">
                    <%= song.Song_Name%>
                </p>
                <span class="navbar-text buttons">
                    <% var likenum=1000+song.Serial_No%>
                        <% var dislikenum=2000+song.Serial_No%>
                            <% var likeline="/like_dislike/" +likenum%>
                                <% var dislikeline="/like_dislike/" +dislikenum%>
                                    <a href="<%=likeline%>" class="likedislikebutton">
                                        <i class="fa-solid fa-heart fa-4x"></i>
                                    </a>
                                    <a href="<%=dislikeline%>" class="likedislikebutton">
                                        <i class="fa-solid fa-heart-crack fa-4x"></i>
                                    </a>
                </span>
            </div>
            <p class="songdetails">
                <%= song.Singer_Name%>
            </p>
        </header>
        <div id="container-xxl">
            <img src="https://source.unsplash.com/random" id="images" alt="...">
        </div>

        <div class="bg-light m-3">
            <div class="row m-3">
                <header class="p-1 titles">Related</header>
                <div class="scroll">
                    <div class="movies">
                        <div class="row">
                            <% for (var j of recom) { %>
                                <% if(j==song.Serial_No)
                                {
                                    continue;
                                }%>
                                <a href="/moviepage/<%= song_list[j].Serial_No%>" class="col12">
                                    <div id="img-container">
                                        <img src="https://source.unsplash.com/random/'+width+'x'+height+'"
                                            style="height: 100%; width:auto">
                                    </div>
                                    <p id="songname">
                                        <%= song_list[j].Song_Name%>
                                    </p>
                                    <p id="singername">
                                        <%= song_list[j].Singer_Name%>
                                    </p>
                                    <p id="type">
                                        <%= song_list[j].Type%>
                                    </p>
                                    <p id="year">
                                        <%= song_list[j].Year%>
                                    </p>
                                </a>
                                <% } %>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>